@import "tailwindcss";


.menubar:hover{
  background: white;
  li{
    color:black;

  }
  select{
    background-color: white;
    border-color: black;
    color:black;
  }
  .number{
    color:black
  }
}
.searchbar::placeholder{
  font: 400;
  color: azure;

}

li{
  cursor: pointer;
}